/* Fügt die Tailwind-Basisstile hinzu, die für alle Projekte gelten. */
@tailwind base;

/* Fügt Tailwind-Komponentenklassen hinzu, wie Buttons, Formulare usw. */
@tailwind components;

/* Fügt Tailwind-Dienstprogramme hinzu (Utility Classes) wie flex, pt-4, text-center etc. */
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
