@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 240 10% 3.9%; /* Almost Black */
    --primary: 240 5.9% 10%; /* Black */
    --primary-foreground: 0 0% 98%; /* Almost White */
    --secondary: 240 4.8% 95.9%; /* Light Gray */
    --secondary-foreground: 240 5.9% 10%; /* Black */
  }

  .dark {
    --background: 240 10% 3.9%; /* Almost Black */
    --foreground: 0 0% 98%; /* Almost White */
    --primary: 0 0% 98%; /* Almost White */
    --primary-foreground: 240 5.9% 10%; /* Black */
    --secondary: 240 3.7% 15.9%; /* Dark Gray */
    --secondary-foreground: 0 0% 98%; /* Almost White */
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  *, *::before, *::after {
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  }
}
